<function default-props props="[1, 2, 3]">
    <for iter="props" item>
        <div>
            <julia value="item"></julia>
        </div>
    </for>
</function>

<function default-typed-props props="[1, 2, 3]::AbstractVector">
    <for iter="props" item>
        <div>
            <julia value="item"></julia>
        </div>
    </for>
</function>

<function typed-props props="::AbstractVector">
    <for iter="props" item>
        <div>
            <julia value="item"></julia>
        </div>
    </for>
</function>