<function file-and-line-info-1>
    <julia value="unknown" />
</function>

<function file-and-line-info-2>
    <div>
        <match value="unknown">
            <case when="_">
                <div>Value is unknown.</div>
            </case>
        </match>
    </div>
</function>

<function file-and-line-info-3>
    <div>
        <file-and-line-info />
    </div>
</function>

<function file-and-line-info-4>
    <div>
        <file-and-line-info-2 />
    </div>
</function>

<function file-and-line-info-5>
    <div>
        <file-and-line-info-3 />
    </div>
</function>