<function splat-args args...>
    <ul>
        <for iter="args" item="arg">
            <li>
                <p id="key">
                    <julia value="arg[1]" />
                </p>
                <p id="value">
                    <julia value="arg[2]" />
                </p>
            </li>
        </for>
    </ul>
</function>

<function splat-args-2 a="1" args...>
    <ul>
        <li>
            <p id="a">
                <julia value="a" />
            </p>
        </li>
        <for iter="args" item="arg">
            <li>
                <p id="k">
                    <julia value="arg[1]" />
                </p>
                <p id="v">
                    <julia value="arg[2]" />
                </p>
            </li>
        </for>
    </ul>
</function>